@color-red: #ff2c39;
@color-blue: #409EFF;
@color-dark: #282C34;
@color-black: #000;
@color-white: #fff;

@bg-color-dark: #001529;
@bg-color-dark-light: #002140;

@border-color-base: #DCDFE6;
@border-color-light: #E4E7ED;

@font-color: #333;
@font-text-color: #909399;

@font-size-title: 21px;
@font-big: 18px;
@font-default: 16px;
@font-middle: 14px;
@font-small: 12px;
@font-mini: 10px;

@border-radius-circle: 8px;

.wrap {
  min-width: 1200px;

  .nav {
    background-color: @bg-color-dark;
    height: 100vh;
    min-width: 200px;
  }

  .container {
    height: 100vh;
    overflow: auto;
    background-color: @border-color-light;
  }

  .main {
    padding: 20px;

    .pages {
      background-color: @color-white;
    }
  }
}